.header{
    padding: 41px 100px 0px 100px;
    display: flex; 
    justify-content: space-between;
}
.logo__nav{
    align-items: center;
    display: flex;
    width: 60%;
    justify-content: space-between;
}
.nav ul{
    align-items: center;
    display: flex;
    list-style-type: none;
    gap: 41px;
}
.nav ul li{
    padding: 3px 6px;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: relative;
    transition: all ease-in 0.4s;
}
.logo h2{
    color: #FFF;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.nav ul li:hover{
    cursor: pointer;
}

.nav ul li:hover::after {
    width: 100%;
}

.nav ul li::after{
    left: 0;
    bottom: 0;
    position: absolute;
    content: "";
    width: 0;
    height: 3px;
    background-color: #FFF;
    transition: all ease-in 0.4s;
}